<div class="content">
        <section>
				          <%= yield %>
									        </section>
													        <% (0...12).each do |i| %>
																	          <br />
																						        <% end %>
																										          <div class='clearfix'></div>
																															          <br style="clear: both;" style="display: none;" />
																																				      </div>
																																							      <div class='clearfix'></div>  
																																										      <div class='footer'>
																																													        <div class='row'>
																																																	        <div class='span2' style='text-align: left; padding: 10px;'>&copy; 2012, Splick-it, Inc.</div>
																																																					        <div class='span2 pull-right' style="padding: 10px;"><strong>Support:</strong> 888-775-4254</div>
																																																									      </div>
																																																												    </div>
